@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h2,
h3 {
  text-align: center;
}

h2 {
  padding: 1rem;
  font-size: 2rem;
  margin: 1rem 0;
}
h3 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #026add, #0360ca);
  color: #fff;
  line-height: 1.2;
}

/* Search form */
.search-form {
  display: flex;
  flex-direction: column;
  width: 352px;
  margin-bottom: 1rem;
}

.search-form > input,
.search-form > button {
  padding: 0.6rem;
  margin-bottom: 0.6rem;
  border: 1px solid #0f0f0f;
  outline: none;
}

.search-form > input:focus {
  background-color: #eee;
  color: #026add;
}

.search-form > button {
  color: #026add;
  font-size: 1rem;
  cursor: pointer;
  background-color: #eee;

  transition: background-color 0.3s ease-in;
}

.search-form > button:hover {
  background-color: #ddd;
}

/* Search Results */

.search-results {
  border: 1px solid #eee;
  padding: 0.6rem;
  margin: 1rem 0.2rem;
  height: auto;
}

.search-results .search-info {
  font-size: 0.8rem;
  display: flex;
}

.search-results .search-info > div {
  padding: 0.5rem;
  margin: 0.5rem;
}

.search-results .search-info .date-info {
  flex: 1;
}

.search-results .search-info .location-info {
  flex: 5;
}

.search-results .search-info .date-info > p,
.search-results .search-info .location-info > p {
  margin: 0.5rem 0;
}

.search-results .search-info .see-ticket-btn {
  align-self: center;
  padding: 0.5rem;
  flex: 3;
}

.search-results .search-info .see-ticket-btn,
.search-results .search-info .expand-btn {
  cursor: pointer;
  outline: none;
  border: 0.5px solid #0f0f0f;
  transition: background-color 0.3s ease-in;
}

.search-results .search-info .see-ticket-btn a {
  text-decoration: none;
  color: #026add;
}

.search-results .search-info .expand-btn {
  margin: 0 0.2rem;
  height: 2rem;
  align-self: center;
  flex: 1;
}

.search-results .search-info .see-ticket-btn:hover,
.search-results .search-info .expand-btn:hover {
  background-color: #ddd;
}
/* Lineup Artists */
.expand-content h3,
.venue-info h3 {
  padding-left: 0;
}

.lineup-content {
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lineup-content .artist-img-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.lineup-content .artist-img-info .artist-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 0.5rem 0;
}

.lineup-content .artist-img-info .artist-name {
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.lineup-content .artist-img-info .view-more-artist {
  padding: 0.5rem 1rem;
  cursor: pointer;
  outline: none;
  border: 0.5px solid #0f0f0f;
  transition: background-color 0.3s ease-in;
}

.lineup-content .artist-img-info .view-more-artist a {
  text-decoration: none;
  color: #026add;
}

.lineup-content .artist-img-info .view-more-artist:hover {
  background-color: #ddd;
}

/* Venue Info */

.venue-info {
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.venue-info .icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.9rem;
}

.venue-info .icons i {
  padding: 1rem;
  margin: 1rem;
  border-radius: 50%;
  border: 1px solid #fff;
}
.venue-info .icons p {
  padding: 0.5rem;
  margin: 0.5rem 0;
  /* border-bottom: 1px dotted #fff; */
}

.venue-info .icons p strong,
.venue-info .icons p em {
  display: block;
  margin: 0.5rem 0;
}

/* responsive */
@media screen and (min-width: 450px) {
  .search-results .search-info .date-info {
    flex: 1;
  }

  .search-results .search-info .location-info {
    flex: 5;
  }
  .search-results .search-info .see-ticket-btn {
    flex: 2;
  }
  .search-results .search-info .expand-btn {
    margin: 0 1rem;
    flex: 1;
  }
  .search-results .search-info .location-info > p {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  * {
    font-size: 17px;
  }
  .search-form {
    width: 600px;
  }
  .search-results .search-info .expand-btn {
    height: 2.2rem;
  }

  .lineup-content,
  .venue-info {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .lineup-content .artist-img-info,
  .venue-info .icons {
    width: 47%;
  }

  .venue-info .icons {
    height: 250px;
    margin: 0 0.5rem;
  }
  .venue-info .icons p {
    height: 110px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    max-width: 1100px;
    margin: 0 auto;
  }

  .search-form {
    flex-direction: row;

    width: 800px;
  }
  .search-form .search-input,
  .search-form .city-input,
  .search-form button {
    margin: 0 0.5rem;
  }

  .search-form .search-input {
    flex: 5;
  }
  .search-form .city-input {
    flex: 2;
  }
  .search-form button {
    flex: 1;
  }

  .lineup-content .artist-img-info,
  .venue-info .icons {
    width: 30%;
  }
}
